$primary_color: #1687a7;
$focus_primary: #1688a748;
$body_bg: #161822;
$img-radius: 4px;

@mixin focus($border, $shadow) {
  &:focus {
    border-color: $border;
    box-shadow: 0 0 0 0.2rem $shadow;
  }
}

@mixin disabled {
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

*,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #fff;
}

body {
  background: $body_bg;
}

hr {
  border: 1px solid rgba(128, 128, 128, 0.637);
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}

input,
textarea {
  background: transparent !important;
  color: #fff !important;
}

svg + input {
  padding-left: 2rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
  border-radius: 4px;
}

.navbar-toggler {
  border-color: #ffffff69 !important;

  &:not(.collapsed) {
    .navbar-toggler-icon {
      background-image: url("../Images/menu_close.png") !important;
      background-size: 40px 40px;
    }
  }
}

.navbar-toggler-icon {
  background-image: url("../Images/menu.png") !important;
  width: 30px;
  height: 30px;
}

.nav {
  background: #2f3136;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  left: 0;

  @media screen and (max-width: 767px) {
    .nav-item .btn,
    .nav-item input {
      text-align: center;
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}

.text-admin {
  color: rgb(224, 146, 0);
}

.modal-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.89);
  z-index: 500;

  .modal-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    width: auto;
    overflow: hidden auto;
    padding: 0 0.4rem;
    margin: 5rem 1rem;
    max-height: 90%;
    position: relative;
    > img {
      max-width: 100%;
      max-height: 85vh;
      margin-bottom: 1rem;
      object-fit: contain;
      border-radius: 8px;
    }

    textarea {
      resize: none;
      max-height: 92px;
    }

    h3 {
      margin: 1rem 0;
    }

    form {
      margin-bottom: 1rem;

      img {
        width: 100%;
        display: block;
        margin-bottom: 1rem;
        border-radius: 4px;
      }
    }
  }

  .modal-close {
    position: absolute;
    right: 13px;
    top: 6px;
    font-size: 1.5em;
    color: #fff;
    background: #2f3136;
    outline: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.2rem 0.7rem;
  }
}

.comment {
  width: 100%;
  background: rgb(20, 20, 20);
  padding: 1rem;
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .comment-options {
    display: inline-flex;
    margin-top: 1rem;

    button {
      font-size: 12px;

      &:not(:last-child) {
        margin-right: 0.3rem;
      }
    }
  }

  p {
    margin-top: 0.5rem;
    line-height: 1.6;
    font-size: 14px;
  }
}

.massory {
  columns: 4;
  column-gap: 0;
  break-inside: avoid;
  margin-top: 1rem;
  margin-bottom: 5rem;
  .img {
    cursor: pointer;
    position: relative;
    margin: 0 6px;
    margin-bottom: 10px;
    border-radius: $img-radius;

    .img-figure {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(170deg, transparent, rgba(0, 0, 0, 0.797));
        z-index: 1;
        border-radius: $img-radius;
      }
    }

    .img-info {
      display: flex;
      align-items: center;
      position: absolute;
      font-size: 12px;
      padding: 0.5rem;
      z-index: 2;
      width: 100%;
      bottom: 0;
      > a {
        color: #fff;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }

      > .comments-count {
        margin-left: auto;
        display: flex;
        align-items: center;

        svg {
          margin-right: 3px;
        }
      }
    }

    img {
      width: 100%;
      display: block;
      transition: all 0.2s ease;
      border-radius: $img-radius;
    }
  }
}

.image-loader {
  width: 100%;
  height: 350px;
  padding: 3px;
  background: linear-gradient(#eee, rgb(211, 211, 211), #eee);
  background-size: 1100px;
  background-clip: content-box;
  animation: loading 4s linear infinite alternate-reverse;
}

.button {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  background: $primary_color;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  @include focus($primary_color, $focus_primary);
  @include disabled();
}

.form-tags > span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 4px;

  > .react-tagsinput-input {
    margin-bottom: 0;
  }

  > .react-tagsinput-tag {
    margin: 0;
    background-color: #19204b;
    border: none;
    color: #fff;
    flex: 1 1 auto;
    text-align: center;
    margin-top: 4px;
    word-break: break-word;
    max-width: 33.33%;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .react-tagsinput-remove {
      display: inline-block;
      margin-left: 5px;

      &::before {
        content: "×";
      }
    }
  }

  > .react-tagsinput-tag:not(:last-child) {
    margin-right: 4px;
  }
}

.loader-page {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: $body_bg;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.there-dont-images {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 5rem;

  > img {
    width: 20em;
  }
  h2 {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}

@keyframes loading {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -1000px;
  }
}

@media screen and (max-width: 980px) {
  .massory {
    columns: 3;
  }
}

@media screen and (max-width: 750px) {
  .massory {
    columns: 2;
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: 12px;
  }

  .massory {
    columns: 1;
  }

  .modal-close {
    right: 16px;
    top: -36px;
  }

  .modal-wrapper > img {
    width: 100%;
    padding: 1rem;
  }
}
