.main {
  background-image: url("../../../Images/landing-majuro.png");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    background: #1c92d2;
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    background: linear-gradient(to right, #f2fcfe, #1c92d2);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

div,
div a {
  @media screen and (max-width: 769px) {
    text-align: center;
    width: 100% !important;
  }
}

.btn {
  margin-top: 1.4rem;
  border-radius: 3px;
  width: 40%;
  padding: 15px;
  background-color: #ffffff;
  color: #000 !important;
  border: none;

  &:hover,
  &:active,
  &:focus {
    background-color: #dddddd !important;
  }
}

.subtitle {
  color: #ecebe4;
  font-size: 2rem;
}
