.main {
  background-image: url("../../../Images/landing-majuro.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  margin-top: 1.4rem;
  border-radius: 3px;
  width: 40%;
  padding: 15px;
  background-color: #000000;
  border: none;

  &:hover,
  &:active,
  &:focus {
    background-color: #0f0f0f !important;
  }
}
